<%= form_for(reservation) do |f| %>
  <% if reservation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(reservation.errors.count, "error") %> prohibited this reservation from being saved:</h2>

      <ul>
      <% reservation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  
  <%= f.hidden_field :room_id, :value => params[:id]%>
  <%if !is_admin?%>
  <%= f.hidden_field :member_id, :value => current_user.id%>
  <%end%>
  <%if is_admin?%>
  <div class="field">
    <%= f.label :member_id %>
    <%= f.collection_select :member_id, Member.order(:name),:id,:name %>
  </div>
  <%end%>
  <div class="field">
    <%= f.label :date %>
    <%= f.date_select :date %>
  </div>

  <div class="field">
    <%= f.label :start_time %>
    <%= f.datetime_select :start_time, {:minute_step =>30} %>
  </div>

  <div class="field">
    <%= radio_button_tag(:duration, 30) %>
    <%= label_tag("30 mins") %>
    <%= radio_button_tag(:duration, 60) %>
    <%= label_tag("1 Hour") %>
    <%= radio_button_tag(:duration, 90) %>
    <%= label_tag("90 mins") %>
    <%= radio_button_tag(:duration, 120) %>
    <%= label_tag("2 Hours") %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
