<%= form_for(admin) do |f| %>
  <% if admin.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(admin.errors.count, "error") %> prohibited this admin from being saved:</h2>

      <ul>
      <% admin.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="container">
      <div class="form-group">
        <%= f.label :name %><br>
        <%= f.text_field :name %>
      </div>
      <div class="form-group">
        <%= f.label :email %><br>
        <%= f.text_field :email %>
      </div>
      <div class="form-group">
        <%= f.label :password %><br>
        <%= f.password_field :password %>
      </div>
      <div class="form-group">
        <%= f.submit "Create Admin", class: "btn btn-success"  %>
      </div>
    </div>
<% end %>
