<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @admin.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @admin.email %>
</p>
<%if current_user=nil%>
<%=link_to 'Back', root_path %>
<%else%>
<%= link_to 'Back', admins_path %>
<%end%>
